body {
    background-color: rgb(188, 220, 223);
}

.btn-primary {
    border-radius: 15px;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    background-color: rgb(10, 52, 65);
    border: none;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}